<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="fonts/stylesheet.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	{% block content %}
		
	{% endblock %}
	
	<script src="js/jquery.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(64724968, "init", {
	        clickmap:true,
	        trackLinks:true,
	        accurateTrackBounce:true,
	        webvisor:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/64724968" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	
	<script>
	    //Яндекс Карта
	    ymaps.ready(init);
	    var myMapAll;

	    function init() {
	        myMapAll = new ymaps.Map("contacts__map", {
	            center: [55.622411, 37.619513],
	            zoom: 15,
	        });
	        var myPlacemark_1 = new ymaps.Placemark([55.622411, 37.619513], {
	            balloonContentHeader: "Название объекта",
	            balloonContentBody: "Описание объекта",
	            balloonContentFooter: "",
	            hintContent: "Кликните для более подробной информации",
	        });
	        myMapAll.geoObjects.add(myPlacemark_1);
	    }
	    //END Яндекс Карта
	</script>

	<script>
        (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn-ru.bitrix24.ru/b14212314/crm/site_button/loader_1_404igo.js');
	</script>

	<script id="bx24_form_button" data-skip-moving="true">
	        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
	                (w[b].forms=w[b].forms||[]).push(arguments[0])};
	                if(w[b]['forms']) return;
	                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
	                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
	        })(window,document,'https://b24-7xdclc.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');

	        b24form({"id":"1","lang":"ru","sec":"2ms0wc","type":"button","click":""});
	</script>

	<script id="bx24_form_button" data-skip-moving="true">
	        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
	                (w[b].forms=w[b].forms||[]).push(arguments[0])};
	                if(w[b]['forms']) return;
	                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
	                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
	        })(window,document,'https://b24-7xdclc.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');

	        b24form({"id":"5","lang":"ru","sec":"8r2e0u","type":"button","click":""});
	</script>


	<script id="bx24_form_button" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://b24-7xdclc.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"7","lang":"ru","sec":"nc0hiy","type":"button","click":""});
	</script>
</body>
</html>
